<% layout('layouts/boilerplate') %>
<h1>Campground Page</h1>
<ul>
  <% campgrounds.forEach((campground)=>{ %>
  <li>
    <a href="/campgrounds/<%= campground._id %>"><%= campground.title %></a>
  </li>
  <% }) %>
</ul>
