<% layout('layouts/boilerplate') %>
<h1>Login</h1>
<div class="row">
    <div class="col-10 offset-1 col-sm-8 offset-sm-2 col-lg-4 offset-lg-4">
        <form class="validated-form" action="/login" method="POST" novalidate>
        <div class="m-3">
          <label class="form-label" for="username">username</label>
          <input class="form-control"
            type="text"
            id="username"
            name="username"
            placeholder="username"
            required
          />
          <div class="valid-feedback">Well done!</div>
        </div>
        <div class="m-3">
          <label class="form-label" for="password">Password</label>
          <input class="form-control"
            type="password"
            id="password"
            name="password"
            placeholder="password"
            required
          />
          <div class="valid-feedback">Well done!</div>
        </div>
        <input class="btn btn-primary m-3" value="Login" type="submit" />
      </form>
    </div>
  </div>